* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: aqua;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}