* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(rgb(0, 20, 92), rgb(97, 60, 121));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}