* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background-color: rgb(0, 20, 92);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  // min-width: 50%;
}
