/* canvas {
  margin-inline: auto;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.section {
  padding-inline: 1.5rem;
}

.bg {
  background-color: rgb(45, 74, 155);
}

.js-btw {
  justify-content: space-between;
}

.c {
  align-items: center;
}

.gap {
  gap: 10rem;
}

.bottons {
  gap: 10rem;
}

.flex {
  display: flex;
}

.t_b_p {
  padding: 10px 0px;
}

.b_m {
  margin-bottom: 10px;
}

.container {
  max-width: 50rem;
  margin-inline: auto;
}

#canvas-container {
  margin-inline: auto;
  background-color: red;
}

h1 {
  display: flex;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.h1_title {
  color: #fff;
}

a {
  font-family: Montserrat;
  text-decoration: none;
  font-weight: 500;
  color: rgb(45, 74, 155);
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.btn {
  padding: 5px 10px;
}

.outline {
  border: solid 1px #fff;
  background-color: rgb(45, 74, 155);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  border: solid 1px #fff;
  background-color: #fff;
  border-radius: 5px;
}

.hover:hover {
  transition: 0.7s;
  transform: scale(0.9);
}