@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

.section {
  padding-inline: 1.5rem;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

#canvas {
  margin-inline: auto;
}