* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

.section {
  padding-inline: 1.5rem;
  background-color: rgb(0, 89, 213);
}
.section .container {
  max-width: 60rem;
  margin-inline: auto;
  background-color: aqua;
}
.section .container #canvas {
  margin-inline: auto;
}