* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

.section {
  padding-inline: 1.5rem;
}
.section .container {
  max-width: 60rem;
  margin-inline: auto;
}
.section .container #canvas {
  margin-inline: auto;
}
.section .container .h1-text {
  margin: 0px;
  margin-bottom: 0.5rem;
  color: cadetblue;
}