* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
// $background-color:

// scss ->들여쓰기, 정의 내리기 등 다양하게 가능

.section {
  padding-inline: 1.5rem;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

canvas {
  margin-inline: auto;
}
