* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
// $background-color:

// scss ->들여쓰기, 정의 내리기 등 다양하게 가능

.section {
  padding-inline: 1.5rem;
  // background-color: rgb(0, 89, 213);

  .container {
    max-width: 60rem;
    margin-inline: auto;

    #canvas {
      margin-inline: auto;
    }
    .h1-text {
      margin: 0px;
      margin-bottom: 0.5rem;
      color: cadetblue;
    }
  }
}
