/* 선택자가 겹치는 경우, 기본적으로 나중에 작성된 스타일 적용됨
선택지가 다르지만 요소가 곂치는 경우, 선택자 우선순위에 의해 적용된 스타일이 결정됨
아이디 선택자> 클래스 선택자 > 태그 선택자 */

/* px = 모니터 상의 화소 하나 크기에 대응하는 절대적 크기
rem = <html> 태그의 font-size 에 대응하는 상대적인 크기
em = 부모태그의 font-size에 대응하는 상대적인 크기 */

/* span 일정부분 스타일화 해서 적용하거나 그룹화할때 씀 */

@keyframes blink {
  0% {
    opacity: 1;
  } /* 시작 상태: 불투명 */
  50% {
    opacity: 0;
  } /* 50% 시점: 투명 */
  100% {
    opacity: 1;
  } /* 종료 상태: 불투명 */
}

.blinkingText {
  animation: blink 4s infinite;
}

h2 {
  padding-left: 20px;
  color: rgb(140, 140, 140);
}

p,
a,
li {
  /* text-align: justify; === 양끝 정렬한다.(마지막 줄 제외) */
  color: white;
  /* color에는 다양한 사용 색상 설정 가능
  1. color: 'red'
  2. color: #FF0000;
  3. color: rgb(100%, 0%, 0%); */
}

* {
  font-family: Montserrat;
  html {
    font-size: 32px;
  }

  h2 {
    font-size: 1.5rem;
    text-shadow: 0 0 9px black, 0 0 9px black, 0 0 9px black;
  }

  li,
  a {
    text-decoration: none;
    font-size: 1rem;
  }
  a:hover {
    font-weight: bold;
    font-size: 1.2rem;
    stroke: black;
    color: deeppink;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
  }
}

/* 인라인을 블록으로 바꾸는 방법 */
span {
  align-content: center;
  text-align: center;
  display: block;
  block-size: 23rem;
  font-size: 1.2rem;
  color: white;
  /* border: 0.3rem solid darkviolet; */
  /* border-width: 2rem; */
  /* border-style: outset; */
  /* border-color: white; */
}

/* background-> color, image, position, size, repeat */
body {
  background-color: black;
  background-image: url('./image/bill-cipher.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  /* align-items: center; */
  margin-inline: auto;
  justify-content: center;
  /* ??? div 정렬 가운데로 안되는데..? */
  margin: 1rem;
  width: 19rem;
  height: 21rem;
  float: left;
  border: 3px solid rgb(72, 61, 139, 0.4);
  /* 이미지 투명도 낮추는건 0~1 사이 */
}

.outer-div {
  /* align-items: center; */
}

/* ㅇㄴ 이미지 투명하게 어케함;;
.bill-cipher {
  opacity: 0.3;
} */
